
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

/* Logo */
.nav__container--logo{
  margin-left: 35%;
}
nav img {
  width: 100px;
  margin: 1.5rem;
}

/* Togler */
.nav--toggler {
  margin: 1.5rem;
}

/* Menú lateral */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -80%;
  transition: all 0.5s;
  background-color: var(--color-white);
}
.sidebar.open {
  left: 0;
  width: 100vw;
}
.sidebar.open i {
  font-style: normal;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: var(--font-weight-semiBold);
}
.sidebar.open p {
  margin: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  font-weight: var(--font-weight-semiBold);
  background-color: var(--color-secundario);
  color: var(--color-white);
}

/* Barra de Búsqueda */
.barraDeBusqueda {
  margin: 2.5rem;
}
.form-control {
  background-color: var(--color-white) !important;
}